.trash/*
ssh_setup.sh
source/node_modules
source/public
source/quartz/.quartz-cache
source/content/Projects/app-questions.md
source/content/Projects/app-coverLetter.md
source/content/Projects/app-other.md
source/content/Projects/Applications-IgnoreMe