@use "./base.scss";

// put your custom CSS here!
.article-header {
    background: #6096e6;
    border: 1px solid #5687d1;
    border-radius: 5px;
    margin-top: 50px;
    padding: 25px;
}

#demoVFB {
    background-color: crimson;
}

.center-fig{


}