@use "./base.scss";

// put your custom CSS here!
.article-header {
    background: light-dark(royalblue,#3e5d7b);
    //border: 1px solid #5687d1;
    color: light-dark(#efefef,lavender);
    border-radius: 5px;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
}

.article-header h2 {
    color: light-dark(#efefef,lavender);
}

.vfb-subheader {
    text-align:center;
}

.vfb-subheader h2 {
    text-decoration: underline;
}

.papers-abstract {
    text-align: left;
}

//Start Image Related Elements
figure.img-fig{ //Figure related
    float:center;
    width: 75%;
    text-align: center;
    text-indent: 0;
    //font-size: small;
    font-style: italic;
    //border: thin gray solid;
    margin: 0.5em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

img.scale-w25{
    width: 25%;
}

img.scale-w50{
    width: 50%;
}

img.scale-w75{
    width: 75%;
}

img.scale-w100{
    width: 100%;
}

img.scale-h25{
    height:25%
}

img.scale-h50{
    height:50%
}

img.scale-h75{
    height:75%
}

img.scale-h100{
    height:100%
}
//End Image Related Elements

//Start Minigame Table
@media (max-width: 500px) {
    div.mgTable{
        border: thin gray solid; 
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 0.25em;
        margin-bottom: 0.5em;
        //padding-bottom: 0.5em;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    div.mgTable-pic{
        width: 75%;//50%;
        height: 50%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: inline-block;
        vertical-align: middle;
        //margin-bottom: -1.5em;
        //margin-top: -1.5em;
    }
}

@media(min-width: 501px){
    div.mgTable{
        border: thin gray solid; 
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 0.25em;
        margin-bottom: 0.5em;
        //padding-bottom: 0.5em;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    div.mgTable-pic{
        width: 75%;//50%;
        height: 50%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: -0.5em;
    }
}

div.mgTable-list{
    width: 95%;//35%;
    height: 50%;
    padding: 0.5em;
    display: inline-flex;
    text-align: left;
    vertical-align: middle;
    margin-left: 0.5em;
    justify-content: center;
}

p.mgTable-title{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0em;
    margin-bottom: 0em;
    display: block;
    
}

ul.mgTable{
    padding-left: 0.5em;
    text-indent: -0.25em;
}
//End Minigame Table

//Start Grid Elements
.responsive-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns, each taking equal space */
    gap: 16px;
    padding-right: 16px;
    grid-auto-flow: row;
}

//Start vary grid columns
//Single Column for smaller screens and before side bars drop off
@media ((max-width: 875px) and (min-width: 800.5px)) or (max-width:600px) {
    .responsive-image-grid {
        grid-template-columns: 1fr;
        padding-left: 16px;
    }
}

//End vary grid columns

.grid-item {
    //border: thin gray solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.grid-img {
    height: 400px;
    width: 100%;
    margin-bottom: -0.25em;
}

.grid-header-txt {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    font-size: 1.7em;
    text-wrap: balance;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    min-height: 60px;
}

//Start vary grid header font size
@media (1270px >= width > 1235px) or (975px >= width > 942px) or (650px >= width > 618px) {
    .grid-header-txt {
        font-size: 1.6em;
    }
}

@media (1235px >= width > 1200.5px) or (942px >= width > 909px) or (618 >= width >= 600){
    .grid-header-txt {
        font-size: 1.49em;
    }
}

@media (909px >= width >= 875px) {
    .grid-header-txt {
        font-size: 1.39em;
    }
}
//End vary grid header font size

//.responsive-link-grid{
.link-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Exactly 4 columns, each taking equal space */
    gap: 5px;
    grid-auto-flow: row;
    //display: flex; //TODO: if not full, center buttons
    //align-items: center; //TODO:
    justify-items: center;
}

.grid-link-item {
    text-align: center;
    justify-content: center;
    font-size: 1.09em;
    padding-left: 0.05em;
    padding-right: 0.05em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    color: black;//light-dark(#efefef,lavender);
    background: #6096e6 !important;//light-dark(royalblue,#3e5d7b);
    //border: 1px solid #5687d1;
    border-radius: 5px;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    width: 98%;
}

//Start vary grid-link-item font size at smaller screen sizes
@media (1414px > width >= 1359px) or (1121px > width >= 1065px) or (796 > width >= 742px) or (430px > width >= 403px) { 
    .grid-link-item { font-size: 1em; } 
}
@media (1359px > width >= 1297px) or (1065px > width >= 1005px) or (742px > width >= 680px) or (403px > width >= 373px) {
    .grid-link-item { font-size: 0.9em; }
}
@media (1297px > width >= 1236px) or (1005px > width >= 943px) or (680px > width >= 612px) or (373px > width) {
    .grid-link-item { font-size: 0.8em; }
}
@media (1236px > width >= 1200.5px) or (943px > width >= 883px) or (612px > width >= 600.5px) {
    .grid-link-item { font-size: 0.7em; }
}
@media (883px > width >= 875px) {
    .grid-link-item { font-size: 0.59em; }
}
//@media (max-width:779px) and (min-width:715px){ .grid-link-item{ font-size:1em; }}
//@media (max-width:714px) and (min-width:664px){ .grid-link-item{ font-size:0.9em; }}
//@media (max-width:663px) and (min-width:601px){ .grid-link-item{ font-size:0.79em; }}
//600px >= width >= 401px is fine at the original 1.09em 
//@media (max-width:400px) and (min-width:325px){ .grid-link-item{ font-size:4.2vw; }}
//@media (max-width:324px) and (min-width:272px){ .grid-link-item{ font-size:4vw; }}
//@media (max-width:271px) and (min-width:234px){ .grid-link-item{ font-size:3.8vw; }}
//@media (max-width:233px){ .grid-link-item { font-size:3.5vw; } }
//End vary grid-link-item font size at smaller screen sizes
//End Grid Elements

.no-bg {
    background: transparent !important;
}

.portfolio-header{
    text-align: center;
    justify-content: center;
    font-size: 2.25em;
    text-wrap: balance;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.5em;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    min-height: 60px;
}
//page background colors: light-dark(#faf8f8,#161618)
//#7393B3 is a great color
//#6082B6 is too


//Start Stats Table
.stats-container {
    display: flex;
    width: flex;
    justify-content: center;
    //Put this on the root div for stats table
}

.stats-table-container {
    background-color: #797979;
    box-shadow: 3px 3px 4px #797979;
    border-radius: 5px;
    //put this on the inner div under summary in a stats table
}

.stats-table-container tr:nth-of-type(even) {
    background-color: light-dark(royalblue,#3e5d7b);
}

/*//do this for the even rows
.stats-table-container tr:nth-of-type(odd) {
    background-color: light-dark(rgb(185, 45, 10),#c74343);
}*/

.stats-table-container td {
    color: light-dark(#efefef,lavender);
}

.stats-table-container a {
    color: light-dark(#efefef,lavender);
    text-decoration: underline;
    font-style: italic;
}

//TODO: add sliding up/down animation for tables
// a solution: https://nerdy.dev/open-and-close-transitions-for-the-details-element
//End Stats Table

//Start Collapsible Elements
details {
    flex-basis: 52%;
}

details summary {
    background-color: light-dark(royalblue,#3e5d7b);
    box-shadow: 3px 3px 4px #797979;
    color: light-dark(#efefef,lavender);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5em;
    margin-top: 0.5em;
}

/*//This is how you make changes to summary when it is closed
details:not([open]) summary {
    background-color: light-dark(royalblue,tomato);
    box-shadow: 3px 3px 4px #797979;
    color: light-dark(#efefef,lavender);
    border-radius: 5px;
    cursor: pointer;
    width: fixed;
    padding: 0.5em;
}*/

/*//And this is how you make changes to summary when it is open
details[open] summary{
    background-color: tomato;
}*/
//End Collapsible Elements
