@use "./base.scss";

// put your custom CSS here!
.article-header {
    background: #6096e6;
    border: 1px solid #5687d1;
    border-radius: 5px;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
}

#demoVFB {
    background-color: crimson;
}

.vfb-subheader {
    text-align:center
}

//Figure related
figure.img-fig{
    float:center;
    width: 75%;
    text-align: center;
    text-indent: 0;
    //font-size: small;
    font-style: italic;
    //border: thin gray solid;
    margin: 0.5em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

img.scale-w25{
    width: 25%;
}

img.scale-w50{
    width: 50%;
}

img.scale-w75{
    width: 75%;
}

img.scale-w100{
    width: 100%;
}

img.scale-h25{
    height:25%
}

img.scale-h50{
    height:50%
}

img.scale-h75{
    height:75%
}

img.scale-h100{
    height:100%
}

div.mgTable{
    border: thin gray solid;
    //float: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    margin-bottom: 0.5em;
    //padding-bottom: 0.5em;
    //vertical-align: center;
}

div.mgTable-pic{
    width: 55%;
    padding: 0.5em;
    display: inline-table;
    vertical-align: text-top;
}

div.mgTable-list{
    width: 35%;
    padding: 0.5em;
    display: inline-table;
    text-align: top;
    vertical-align: text-top;
}

div.mgTable-listLeft{
    width: 35%;
    padding: 0.5em;
    display: inline-table;
    vertical-align: text-top;
    text-align: top;
    margin-left: 0.5em;
    margin-right: 0.7em;
}

p.mgTable-title{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: text-top;
    margin-bottom: -0.5em;
}

ul.mgTable{
    padding-left: 0.5em;
    text-indent: -0.25em;
}

.responsive-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns, each taking equal space */
    gap: 16px;
    grid-auto-flow: row;
}
  
@media (max-width: 600px) {
    .responsive-image-grid {
      grid-template-columns: 1fr; /* Stack images in a single column on smaller screens */
    }
}

.grid-item {
    //border: thin gray solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.grid-img {
    height: 400px;
    width: 100%;
    margin-bottom: -0.25em;
}

.grid-header-txt {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    font-size: 1.75em;
    text-wrap: balance;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    min-height: 60px;
}

.portfolio-header{
    text-align: center;
    font-size: 2.25em;
    text-wrap: balance;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.5em;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    min-height: 60px;
}
